.btnRow {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn {
    margin: 0 5px 0;
    padding: 0;
    height: 40px;
    width: 110px;
    text-align: center;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}